body,button {
  margin:0px;
  padding:0px;
}

#expansion{
  position:absolute;
  background-color: #0d2a4d;
  background-image: url('images/logo.png');
  background-repeat: no-repeat;
  background-position: 15px 15px;
}

.button {
  border: none;
  cursor: pointer;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}

#closeButton{
  position: absolute;
  top: 10px;
  right: 10px;
  width: 94px;
  height: 24px;
  z-index: 3;
  background-color: #0068FF;
  color: #FFF;
  font-size: 10px; 
}
#closeButton:hover{
  background-color: #1e79b6;
  color:#0d2a4d;
}

#clickthroughButton{
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: transparent;
  z-index: 2;
}

.centered {
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}