body,button {
  margin:0px;
  padding:0px;
}

#banner{
  position:absolute;
  display: block;
}

#clickBtn{
  display: block;
  top: 0;
  left: 0;
  position: absolute;
  cursor: pointer;
  width: 100%;
  height: 100%;
  background-color: transparent;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  user-select: none;
}